* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('img/Grid2.png');
	background-size: cover;
}

header {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid white;
	padding: 10px;
}

header button {
	padding: 5px 10px;
}

section {
	text-align: center;
}

section table {
	display: inline-block;
	border-collapse: collapse;
}

section table td {
	overflow: hidden;
	border: 1px solid grey;
	width: 20px;
	height: 20px;
}

.asteroid {
	background-image: url('img/dirt.png');
	background-size: auto;
}

.team1 {
	background-color: blue;
}

.team2 {
	background-color: red;
}