* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('img/Grid2.png');
	background-size: cover;
}

header {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid white;
	padding: 10px;
	color: white;
}

header button {
	padding: 5px 10px;
}

section {
	text-align: center;
}

section table {
	display: inline-block;
	border-collapse: collapse;
}

section table td {
	overflow: hidden;
	border: 1px solid grey;
	width: 20px;
	height: 20px;
}

.asteroid {
	background-image: url('img/dirt.png');
	background-size: cover;
}

.shot {
	background-image: url('img/laser.png');
	background-size: cover;
}

.health {
	color: #ff475d;
}

.shield {
	color: #31d1ff;
}

.movement {
	color: #22bf5f;
}